################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JivanJyotiTrustApp/.vs/JivanJyotiTrustApp
/JivanJyotiTrustApp/bin/Debug/net8.0
/JivanJyotiTrustApp/obj
/JivanJyotiTrustApp/Properties
/JivanJyotiTrustApp/.vs/ProjectEvaluation/jivanjyotitrustapp.metadata.v10.bin
/JivanJyotiTrustApp/.vs/ProjectEvaluation/jivanjyotitrustapp.projects.v10.bin
/JivanJyotiTrustApp/.vs/ProjectEvaluation/jivanjyotitrustapp.strings.v10.bin
/JivanJyotiTrustApp/bin/Release/net8.0
/JivanJyotiTrustApp/.vs/CopilotSnapshots/11C865CBD43F2245909858FC91538EB5
