################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JivanJyotiTrustApp/.vs/JivanJyotiTrustApp
/JivanJyotiTrustApp/bin/Debug/net8.0
/JivanJyotiTrustApp/obj
/JivanJyotiTrustApp/Properties
